/* FORMATOS DE LA WEB */
/* line 3, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
* {
  text-align: center;
  list-style: none;
}

/* line 8, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
nav ul {
  display: flex;
}

/* line 12, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
nav ul li {
  flex-grow: 1;
}

/* line 17, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
.boton {
  padding: 15px;
  color: #af0f7f;
  text-decoration: none;
}

/* line 23, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
.boton:hover {
  text-decoration: none;
  color: orangered;
}

/* line 28, ../../../../../Desktop/canelo-estabre/SCSS/_formato.scss */
#lista {
  display: flex;
  justify-content: center;
}

/* ETIQUETAS DE LA WEB */
/* line 2, ../../../../../Desktop/canelo-estabre/SCSS/_etiquetas.scss */
h1 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.4rem;
  color: #af0f7f;
  background-image: url(.//HTML/fondo-perros.jpg);
  margin: 10px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

/* line 14, ../../../../../Desktop/canelo-estabre/SCSS/_etiquetas.scss */
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: #fd8332;
  background: #af0f7f;
  margin: 10px;
  padding: 5px;
  border: solid 1px #fd8332;
  height: 30px;
}

/* line 25, ../../../../../Desktop/canelo-estabre/SCSS/_etiquetas.scss */
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #af0f7f;
}

/* COLORES DE LA WEB */
/* line 6, ../../../../../Desktop/canelo-estabre/SCSS/_colores.scss */
#secciones {
  background-color: #f0cba0;
}

/* line 10, ../../../../../Desktop/canelo-estabre/SCSS/_colores.scss */
#colores1 {
  background-color: #f0cba0;
}

/* line 14, ../../../../../Desktop/canelo-estabre/SCSS/_colores.scss */
#redes {
  background-color: #c3e9eb;
}

/* line 17, ../../../../../Desktop/canelo-estabre/SCSS/_colores.scss */
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #af0f7f;
  font-weight: bold;
}

/* IMAGENES DE LA WEB */
/* line 3, ../../../../../Desktop/canelo-estabre/SCSS/_imagenes.scss */
#fotoUno {
  height: 300px;
  width: 340px;
}

/*GRID AREA GENERAL*/
/* line 11, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
#contenedor {
  display: grid;
  grid-template-areas: "Encabezado" "Navegacion" "Principal" "Pie";
  grid-template-columns: 100%;
  grid-template-rows: 80px 60px minmax(400px, auto) 50px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

/* line 21, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
header {
  grid-area: Encabezado;
}

/* line 25, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
nav {
  grid-area: Navegacion;
}

/* line 29, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
main {
  grid-area: Principal;
}

/* line 33, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
footer {
  grid-area: Pie;
}

/*GRID AREA HOME*/
/* line 38, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
#imagenes1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* line 44, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
#imagenes1 img {
  max-width: 100%;
  height: auto;
}

/*GRID AREA GALERIA*/
/* line 50, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
#imagenes2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

/* line 56, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
#imagenes2 img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 480px) and (orientation: landscape) {
  /* line 62, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
  body {
    background-color: #eba87c;
  }
}

/* line 66, ../../../../../Desktop/canelo-estabre/SCSS/canelo.scss */
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #af0f7f;
}

/*# sourceMappingURL=canelo.css.map */