/* ETIQUETAS DE LA WEB */
$etiquetas: (
    h1: #af0f7f,
    h2: #fd8332,
);
$margin: 10px;
$padding: 5px;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@each $nombreDeEtiqueta, $color in $etiquetas {
    .contenedor-#{$nombreDeEtiqueta} {
        background-color: $color;
        margin: $margin;
        padding: $padding;
        font-family: $font-family;
    }
 }
h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    color: #af0f7f;
    background-image: url(.//HTML/fondo-perros.jpg);
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #fd8332;
    background: #af0f7f;
    padding: 5px;
    border: solid 1px #fd8332;
}

h3,
h4,
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #af0f7f;
}