/* FORMATOS DE LA WEB */

* {
    text-align: center;
    list-style: none;
}

nav ul {
    display: flex;
}

nav ul li {
    flex-grow: 1;

}

.boton {
    padding: 15px;
    color: $colorPrimario;
    text-decoration: none;
}

.boton:hover {
    text-decoration: none;
    color: $colorSecundario
}

#lista {
    display: flex;
    justify-content: center;
}