*{text-align: center;
list-style: none;
}
h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4rem;
    color: rgb(175, 15, 127);
    background-image: url(.//HTML/fondo-perros.jpg);
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 100%
}
#secciones{
    background-color:rgb(243, 233, 192)
}
nav ul{
    display: flex;
}
nav ul li{
    flex-grow: 1;

}
.boton{
    padding: 15px;
    color:rgb(175, 15, 127);
    text-decoration:none;
}
.boton:hover{
    text-decoration:none;
    color: orangered
}
h2{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 1.5rem;
color: rgb(253, 131, 50);
background: rgb(175, 15, 127);
margin: 10px;
padding: 5px;
border: solid 1px rgb(253, 131, 50);
height: 30px;
}
#colores1{
    background-color: rgb(240, 203, 160);
}
#lista{
    display: flex;
    justify-content: center;
}
#fotoUno{
    height: 300px;
    width: 340px;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
   color: rgb(175, 15, 127);
   font-weight: bold;  
}
#redes{
    background-color: rgb(195, 233, 235);
}
/*GRID AREA GENERAL*/
#contenedor{
    display: grid;
    grid-template-areas: "Encabezado" "Navegacion" "Principal" "Pie";
    grid-template-columns: 100%;
    grid-template-rows: 80px 60px minmax(400px, auto) 50px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
header{
    grid-area: Encabezado;
}
nav{
    grid-area: Navegacion;
}
main{
    grid-area: Principal;
}
footer{
    grid-area: Pie;
}
/*GRID AREA HOME*/
#imagenes1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#imagenes1 img{
    max-width: 100%;
    height: auto;
}
/*GRID AREA GALERIA*/
#imagenes2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
#imagenes2 img{
    max-width: 100%;
    height: auto;
}
@media (min-width: 480px) and (orientation: landscape){
    body{
        background-color: rgb(235, 168, 124);
    }
}
